.metricas__container {
    display: flex;
    justify-content: space-around;
    margin: 0 6em;
}

.metricas__cartoes {
    font-family: var(--fonte-primaria);
    padding: 0 2rem;
}

.metricas__quantidade {
    color: var(--vermelho);
    font-weight: 600;
    font-size: 3.75rem;
}

.metricas__titulo {
    color: var(--cinza-escuro);
    font-weight: 500;
    font-size: 1.125rem;
}

.metricas__descricao {
    color: var(--cinza-medio);
    font-weight: 400;
    font-size: 1rem;
}

@media screen and (max-width: 1124px) {
    .metricas__container {
        text-align: center;
        flex-direction: column;   
        gap: 2rem; 
        margin: 0 2em;    
    }
}